.main-container{
  
}
model-viewer {
    cursor: grab;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;
  }
.card-container{
    background: rgb(249, 233, 233 ,0.2);
    color: white;
    font-weight: 900;
    font-size: large;
}
.css-3f6ufr-MuiGrid-root>.MuiGrid-item{
padding-top:26px !important;
}
figure {
  width: 500px;
  aspect-ratio: 8 / 5;
  --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
  --accent: hsl(280 80% 40%);
  transition: background 0.2s;
  background:
    radial-gradient(circle at top left, var(--accent), transparent 75%),
    var(--bg);
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}

figure:after {
  content: "";
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0%;
  left: 10%;
  background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
  filter: blur(25px);
  transform:
    translateX(calc(var(--hover) * 15%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s, background 0.2s;
}

.built-by {
  position: absolute;
  left: 20%;
  top: 15%;
  width: 50%;
  transform:
    translateX(calc(var(--hover) * -15%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s;
}

article {
  --hover: 0;
}

article:hover {
  --hover: 1;
}
h2 {
  position:absolute;
  left: 20%;
  top: 15%;
  width: 50%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
  transform:
    translateX(calc(var(--hover) * -15%))
    scale(calc(1 + (var(--hover) * 0.2)));
}
.article:hover h2 {
  opacity: 1;
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
/* background: #151414; */
position: relative;
}
.footer-cta {
border-bottom: 0.5px solid  #aaa8a8;
}
.single-cta img {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color:  #fff;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}

video{
  position: fixed;

  object-fit: cover;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color:  #fff;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon img {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color:  #fff;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
/* background: #2E2E2E; */
border: 1px solid  #fff;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
/* background: #202020; */
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color:  #fff;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover img{
color: #ff5e14;
}
.footer-menu li img {
font-size: 14px;
color:  #fff;
}
